@font-face {
    font-family: hero;
    src: url(./92zatBhPNqw73oTd4g.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: hero;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    overflow: hidden;
    position: relative;
    
}
.loginpage{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.loginpage img{
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    filter: brightness(50%);
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    height: 90%;
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.left form{
    position: relative;
    height: 80%;
    width: 70%;
    line-height: 2.5vw;
    padding: 6vw 1vw;
    font-size: 1.5vw;
    border: 1px solid black;
    border-radius: 1vw;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.left form h1{
    font-weight: 500;
    margin-left: 5%;
    margin-bottom: 2vw;
}

.left form a{
    text-decoration: none;
}

.left form button{
    width: 100%;
    height: 2vw;
    font-size: 1.3vw;
    margin-top: 1.5vw;
    cursor: pointer;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.411);
}

.left form input{
    width: 100%;
    height: 2vw;
    padding: 0.5vw;
    font-size: 1.3vw;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.411);
}

.right{
    height: 90%;
    width: 50%;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 7vw;
}

.right h1{
    text-transform: uppercase;
    font-size: 3.4vw;
    font-weight: 500;
    line-height: 4vw;
}

