@font-face {
    font-family: hero;
    src: url(./92zatBhPNqw73oTd4g.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: hero;
}

html,
body {
    height: 100%;
    width: 100%;

}

.main {
    overflow: hidden;
    position: relative;
}

/* nav CSS */

nav {
    height: 2.5vw;
    width: 100%;
    position: fixed;
    z-index: 10;
    padding: 2.5vw 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10vw;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

nav .nav-part1 h1 {
    font-family: hero;
    font-size: 1.8vw;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2vw;
}

nav .nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

nav .nav-part2 h4 {
    font-size: 1.3vw;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
}

/* pgae1 CSS */

.page1 {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}


.page1 img {
    position: absolute;
    height: 100vh;
    width: 100%;
    /* background-position: center; */
    /* background-size: auto; */
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.page1 .page1content {
    position: absolute;
    justify-content: flex-end;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    text-align: center;
}

.page1 .courser {
    scale: 0;
    position: absolute;
    z-index: 10;
    height: 3.5vw;
    width: 3.5vw;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all ease 0.1s;
}

.pgae1 .centerpart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.page1 .centerpart h1 {
    font-size: 6vw;
    text-transform: uppercase;
    letter-spacing: 1vw;
    line-height: 6vw;
    font-weight: 700;
    color: #2C541D;
}

.page1 .centerpart h6 {
    font-size: 3vw;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
    font-weight: 10;
    line-height: 6vw;
}

.page1 .centerpart button {
    font-size: 1.3vw;
    letter-spacing: 0.3vw;
    font-weight: 900;
    text-transform: uppercase;
    width: 14vw;
    height: 3.5vw;
    border: none;
    border-radius: 0.2vw;
    background-color: #74A84A;
    color: white;
    cursor: pointer;
    transition: all ease 0.5s;
}

.page1 .centerpart button:hover {
    background-color: #2C541D;
}


/* page2 CSS */


.page2 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page2 .page2content {
    position: relative;
    height: 80%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}

.page2 .page2content .first {
    height: 100%;
    width: 33%;
}

.page2 .page2content .first img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.page2 .page2content .scond {
    height: 100%;
    width: 33%;
}

.page2 .page2content .scond img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.page2 .page2content .third {
    height: 100%;
    width: 33%;
}

.page2 .page2content .third img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.page2content .text {
    position: relative;
    padding: 0 1vw;
}

.page2content .text :nth-child(1) {
    font-size: 1.3vw;
    color: #9A9A9A;
    font-weight: 100;
}

.page2content .text :nth-child(2) {
    font-size: 1.7vw;
    font-weight: 800;
    color: black;
}

.page2content .text :nth-child(3) {
    font-size: 1.4vw;
    font-weight: 500;
    color: #202020;
}


/* page3 CSS*/

.page3 {
    height: 100vh;
    width: 100%;
    position: relative;
}

.page3 .imgContainer {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1vw;
    padding: 5vw 5vw;
}

.imgContainer .ptr1 {
    height: 50%;
    width: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
}

.imgContainer .ptr1 :nth-child(1) {
    height: 100%;
    width: 70%;
    object-fit: cover;
    object-position: center;
    border: none;
    border-radius: 2vw;
}

.imgContainer .ptr1 :nth-child(2) {
    height: 100%;
    width: 30%;
    object-fit: cover;
    object-position: center;
    border: none;
    border-radius: 2vw;
}

.imgContainer .ptr2 {
    height: 50%;
    width: 100%;
    /* background-color: wheat; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
}

.imgContainer .ptr2 :nth-child(1){
    height: 100%;
    width: 30%;
    object-fit: cover;
    object-position: center;
    border: none;
    border-radius: 2vw;
}
.imgContainer .ptr2 :nth-child(2){
    height: 100%;
    width: 70%;
    object-fit: cover;
    object-position: center;
    border: none;
    border-radius: 2vw;
}

